%awesome {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

%hide-chat {
	#stream-wrap {
		right: 0;
		width: 100%;
	}

	#chat-wrap {
		display: none;
	}

	#danmaku-position {
		right: 0;
		width: 100%;
	}
}
