$mq-lg: "only screen and (min-width: 1200px)";
$mq-large: $mq-lg;
$mq-md: "only screen and (max-width: 991px)";
$mq-medium: $mq-md;
$mq-sm: "only screen and (min-width: 768px)";
$mq-small: $mq-sm;
$mq-xs: "only screen and (max-width: 767px)";
