@import 'better-easing';
@import 'rem';

@import 'variables';

@import 'placeholders';
@import 'keyframes';
@import 'mixins';

$max-z-index: 2147483647;
$bg-theater: #17141f;
$width-chat: 340px;
$size-font: 2.2vh;
$size-emote: 3.3vh;

body {
	margin: 0;
	padding: 0;
	font-family: "Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,"Helvetica Neue",Helvetica,Arial,sans-serif !important;

	&.showstream {
		background-color: $bg-theater;
	}
}

#stream {
	display: none;
	position: relative;
	height: 100%;
}
#stream-wrap {
	position: fixed; z-index: 0;
	left: 0; right: 0;
	top: 0; bottom: 0;
	width: 100%;
	height: 100%;

	@at-root .showstream & {
		display: block;
	}
}
#chat {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	width: 100%;
	height: 100%;
}
#chat-wrap {
	display: none;

	position: absolute;
	right: 0;
	top: 0; bottom: 0;
	width: $width-chat;
	background-color: $bg-theater;
}

#danmaku-position {
	box-sizing: border-box;

	position: absolute; z-index: $max-z-index;
	left: 50%;
	top: 50%;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: stretch;

	padding: 5px 0;
	pointer-events: none;
	// border: 1px solid red;
}

#danmaku-container {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	width: 100%;

	> div > div {
		$color-light: #333;
		$color-dark: #fff;
		$shadow: fade-out($color-light, .2);

		font-family: "Microsoft YaHei";
		text-shadow: -1px 0 $shadow, 0 1px $shadow, 1px 0 $shadow, 0 -1px $shadow;
		will-change: transform;
		color: #fff;
		font-size: $size-font;

		// @at-root .theme-dark & {
		// 	text-shadow: -1px 0 $shadow-dark, 0 1px $shadow-dark, 1px 0 $shadow-dark, 0 -1px $shadow-dark;
		// }

		@at-root .highlight-message.theme-light & .nick { color: $color-light; }
		@at-root .highlight-message.theme-dark & .nick { color: $color-dark; }
		@at-root .highlight-nick.theme-light & .message { color: $color-light; }
		@at-root .highlight-nick.theme-dark & .message { color: $color-dark; }

		.tag {
			position: relative;
			top: -1px;

			display: inline-block;
			width: $size-emote;
			height: $size-emote;
			min-width: 18px;

			padding: 0;
			margin-right: 0.2em;
			overflow: hidden;

			border-radius: 2px;
			background-position: 0 center;
			background-repeat: no-repeat;
			background-size: contain;
			vertical-align: middle;
			text-indent: -9999px;
		}

		.emoticon {
			position: relative;
			top: -2px;

			width: auto;
			height: $size-emote;

			margin: -3px 0;

			vertical-align: middle;
		}
	}
}

// 觀賞模式
.showstream.watch {
	#stream-wrap {
		right: $width-chat;
		width: auto;
	}

	#stream {
		display: block;
	}

	#chat-wrap {
		display: block;
	}

	#danmaku-position {
		right: $width-chat;
		width: auto;
	}

	// 隱藏聊天室
	@at-root &.no-chat {
		@extend %hide-chat;
	}
	@at-root &.stream-fullscreen {
		@extend %hide-chat;
	}
}
